* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
img{
    max-width: 50%;
}
.card{
    width: 500px;
    margin: 200px auto;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    border-radius: 8px;
    padding: 16px;
}

.card-img{
    height: 200px;
    background-color: #F2EAFD;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: end;
}